body
  {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
#container
  {
    width: 500px;
    min-height: 500px;
    margin: auto;
    padding: 15px;
    margin-top: 25px;
    background: #ddd;
  }
#textarea
  {
    width: 465px;
    min-height: 250px;
    margin: 15px;
    
  }
.output
  {
    width: 465px;
    min-height: 100px;
    margin: 15px;
  }